.error {
  border: 1px solid blueviolet;
  padding: 10px;
  margin-bottom: 5px;
  width: 90%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: blueviolet;
  border-radius: 5px;
}
