.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 80vh;
  padding: 10px 10px;
}

.screen {
  display: flex;
  flex-direction: column;
}

.child {
  display: flex;
  padding: 5px;
}

.task {
  margin: 0px 5px;
  width: 50%;
  padding: 10px;
  min-height: 84vh;
  overflow-y: auto;
}

.right {
  @extend .task;
  border: 1px red solid;
  padding: 7px;
  overflow-y: auto;
  box-shadow: 2px 4px 5px 2px;
}
