.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}

.loginChild {
  width: 40%;
  border: 1px solid red;
  border-radius: 15px;
  padding: 15px 25px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.7);
}

.page {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  padding: 5px;
  box-sizing: border-box;
}

@mixin direct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.left {
  @include direct();
  width: 50%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  div {
    padding: 5px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.leftOne {
  width: 30%;
  flex-direction: column;
  div {
    border: 1px solid green;
  }
}
.leftTwo {
  flex: 1;
  div {
    border: 1px solid violet;
  }
}

.img {
  width: 100%;
}

.profilImg {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.right {
  flex: 1;
  @include direct();
  flex-direction: column;
  justify-content: flex-start;

  div {
    border: 2px solid brown;
    margin-bottom: 5px;
    padding: 6px;
    width: 100%;
    text-align: center;
  }
}
